<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <script src="https://kit.fontawesome.com/211f74b880.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="../static/assets/css/styles.css"/>
        
        
            <title>{{title}}</title>

    
            <link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.x.x/css/jquery.terminal.min.css"/>
        {% endblock %}
    </head>


    <body>

        
       {% block navbar %}{% endblock %}


        {% block content %} 
         {% endblock %}

        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="../static/assets/js/popper.min.js" ></script>
        <script src="../static/assets/js/bootstrap.min.js" ></script>
        {% endblock %}

        
    </body>
</html>
