{% extends "base.html" %}

{% block head %}
    {{super()}}
    <title>{{title}}</title>
{% endblock %}


{% block navbar %}
    {% include "instructor/nav.html" ignore missing %}
{% endblock %}

{% block content %} 
    <div class="container mt-5">
      <div class="row ">
        <div class="col-4">
          <div class="form-group">
            <label>Question Title:</label>
            <input type="text" class="form-control" id="title" name="t">
          </div>
        </div>
       
        <div class="col-md-8" >
          <div class="card">
            <div class="card-header">
              <b class="float-right"></b> Write your question bellow!!</b>
              <Button class="btn btn-sm btn-success float-right" id="submit">Submit Question</Button>
            </div>
              <div class="card-body">
                <textarea id="content"></textarea>
              </div>
           
          </div>
         
          
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <b class="float-left">Code Editor:</b>
              <Button class="btn btn-sm btn-danger float-right" id="run_code">Run Code</Button>
            </div>
            <div class="card-body" >
              <div id="editor" ></div>   
            </div>
          </div>

        
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card">
              <div class="card-header d-flex">
                Output:
                
              </div>
              
           
            <div class="card-body">
              <div  id="terminal"></div>
            </div>
          </div>
            
        </div>
      </div>
        
    </div>

    

     
  </div>
    
    
 {% endblock %}
   
  

 {% block scripts %}
      {{super()}}
      <script src="../static/ckeditor/ckeditor.js"></script>
      <script>
        var ck=CKEDITOR.replace('content')
      </script>   


      <script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>
      <script>

        var term=$('#terminal').terminal(function(command) {
        if (command !== '') {
            try {
                var result = window.eval(command);
                if (result !== undefined) {
                    this.echo(new String(result));
                }
            } catch(e) {
                this.error(new String(e));
            }
        } else {
          this.echo('');
        }
      }, {
        greetings: '***  Vaseline Console   ***',
        name: 'habijabi_demo',
        height: 300,
        width:450,
        prompt: ''
      });

      </script>



      <script src="../static/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
      <script>
      var editor = ace.edit("editor");
      editor.session.setMode("ace/mode/python");
      editor.resize(true);

      </script>



      <script>
      //
        var output="";
      $( "#run_code" ).click(function() {


        $.post( "/compile", {"code":editor.getValue()}).done(function( data ) {
            console.log(data);
            var data= jQuery.parseJSON(data);

            var data=data.trace[data.trace.length-1];
            console.log(data);
            term.clear();
            term.echo(data.stdout);
            output=data.stdout;

      }).fail(function() {
      alert( "error" );
      });
      });

      /*
      var jqxhr = $.post( "example.php", function() {
      alert( "success" );
      })
      .done(function() {
      alert( "second success" );
      })
      .fail(function() {
      alert( "error" );
      })
      .always(function() {
      alert( "finished" );
      });
      */
      $(function(){
      $("#submit").click(function(){
        var q=ck.getData();
        var code=editor.getValue();
        t=$('#title').val();

       
        $.post("/sq",
        {
          title:t,
          question: q,
          code: code,
          output:output
        },
        function(data,status){
          //alert("Data: " + data + "\nStatus: " + status);
          console.log(data);
        });
      });
      })
      </script>
{% endblock %}
    
