{% extends "base.html" %}

{% block head %}
    {{super()}}
    <title>{{title}}</title>
{% endblock %}


{% block navbar %}
    {% include "student/nav.html" ignore missing %}
{% endblock %}



{% block content %} 

<div class="container">
    <div class="row ">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 col-3 mt-3">
            <div class="card">
                <div class="card-header bg-warning text-center" style="color: white;">Pending</div>
                <div class="card-body">
                    <h4 class="text-center">{{pending_a}}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 col-3 mt-3">
            <div class="card">
                <div class="card-header bg-primary text-center" style="color: white;">Wrong</div>
                <div class="card-body">
                    <h4 class="text-center">{{wrong_a}}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 col-3 mt-3">
            <div class="card">
                <div class="card-header bg-success text-center" style="color: white;">Right</div>
                <div class="card-body">
                    <h4 class="text-center">{{right_a}}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 col-3 mt-3">
            <div class="card">
                <div class="card-header bg-info text-center" style="color: white;">Due</div>
                <div class="card-body">
                    <h4 class="text-center">{{due}}</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">

            
            <div class="card">
                <div class="card-header text-center"><h5>Programming Problems</h5></div>
                {% for item in question %}
                <div class="card-body ">
                   
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-2 ">
                                <table>
                                    <tbody>
                                        <tr>
                                            
                                                <div class="float-left">
                                                    
                                                <h5>{{item.title}}</h5>
                                                </div>

                                                <div class="float-right">
                                                    {% if user._id in item.users_answered %}
                                                    <a href="/view_result/{{item._id}}" class="btn btn-primary">View Result</a>
                                                    {% else %}
                                                    <a href="/test_page/{{item._id}}" class="btn btn-success">Give Test</a>
                                                    {% endif %}
                                                </div>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
                {% endfor %}
            </div>
            
            
        
        </div>
    </div>
</div>

{% endblock %}





{% block scripts %}
    {{super()}}
    
{% endblock %}


