{% extends "base.html" %}

{% block head %}
    {{super()}}
    <title>{{title}}</title>
{% endblock %}


{% block navbar %}
    {% include "student/nav.html" ignore missing %}
{% endblock %}



{% block content %} 

<div class="container">
 
<div id="notice" class="mt-2 text-center"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-9">
           <div class="card ">
               <div class="card-header">{{test.title}}</div>
               <div class="card-body">
                    {{test.question}}
                </div>
           </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  <b class="float-left">Code Editor:</b>
                  <Button class="btn btn-sm btn-danger float-right" id="run_code">Run Code</Button>
                </div>
                <div class="card-body" >
                  <div id="editor" ></div>   
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card">
                  <div class="card-header d-flex">
                    Output:
                    
                  </div>
                  
               
                <div class="card-body">
                  <div  id="terminal"></div>
                </div>
              </div>
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <button type="submit" id="submit" class="btn btn-success">Submit Answer</button>
    </div>
</div>

{% endblock %}





{% block scripts %}
    {{super()}}

    <script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>
    <script>

      var term=$('#terminal').terminal(function(command) {
      if (command !== '') {
          try {
              var result = window.eval(command);
              if (result !== undefined) {
                  this.echo(new String(result));
              }
          } catch(e) {
              this.error(new String(e));
          }
      } else {
        this.echo('');
      }
    }, {
      greetings: '***  Vaseline Console   ***',
      name: 'habijabi_demo',
      height: 300,
      width:450,
      prompt: ''
    });

    </script>



    <script src="../static/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/python");
    editor.resize(true);
    
    </script>



    <script>
    //
        var output= "";
    $( "#run_code" ).click(function() {

        $("#notice").html(
                " "
            );

      $.post( "/compile", {"code":editor.getValue()}).done(function( data ) {
         // console.log(data);
          var data= jQuery.parseJSON(data);

          var data=data.trace[data.trace.length-1];
          //console.log(data);
          term.clear();
          term.echo(data.stdout);
          output=data.stdout; 

        

    })
   
    .fail(function() {
    alert( "error" );
    });
    });

    /*
    var jqxhr = $.post( "example.php", function() {
    alert( "success" );
    })
    .done(function() {
    alert( "second success" );
    })
    .fail(function() {
    alert( "error" );
    })
    .always(function() {
    alert( "finished" );
    });
    */
    $(function(){
    $("#submit").click(function(){
      var q_id="{{test._id}}";
      var answer_code=editor.getValue();
      
      

      if(output===""){
        $("#notice").html(
                "<h4 class='alert alert-danger'>Run the code first!</h4>"
            );
            return false;
      }
      
      
      $.post("/submit_answer",
      {
        q_id:q_id,
        a_c: answer_code,
        output: output,
      },
      function(data,status){
        //alert("Data: " + data + "\nStatus: " + status);
        console.log(data);
        if(data.response==true){
            $("#notice").html(
                "<h4 class='alert alert-success'>Your answer is submitted!</h4>"
            )
            setTimeout(function() {
                window.location.href = "/student_home";
            }, 3000);
            
        }
        else{
            
            $("#notice").html(
                "<h4 class='alert alert-danger'>Output is not correct!</h4>"
            )
            setTimeout(function() {
                $("#notice").html(
                " "
            );
            }, 2000);
        }
      });

    });
    })
    </script>
    
{% endblock %}


